<section class="section section--goods">
    <div class="container">
        <h2 class="section-title">
            Каталог 
        </h2>
        <h3 class="section-sub-title">
            выбор готовых подушек
        </h3>
        <div class="goods">
            <template class="js-good-template">
                <div class="good">
                    <span class="good__price">249<span class="currency">грн</span></span>
                    <img class="good__image" src="img/portfolio/pillow4.jpg" alt="">
                    <button class="button button--buy">Купить</button>
                </div>
            </template>
            <div class="good">
                <span class="good__price">249<span class="currency">грн</span></span>
                <img class="good__image" src="img/portfolio/pillow4.jpg" alt="">
                <button class="button button--buy">Купить</button>
            </div>
            <div class="good">
                <span class="good__price">249<span class="currency">грн</span></span>
                <img class="good__image" src="img/portfolio/pillow4.jpg" alt="">
                <button class="button button--buy">Купить</button>
            </div>
            <div class="good">
                <span class="good__price">249<span class="currency">грн</span></span>
                <img class="good__image" src="img/portfolio/pillow4.jpg" alt="">
                <button class="button button--buy">Купить</button>
            </div>
            <div class="good">
                <span class="good__price">249<span class="currency">грн</span></span>
                <img class="good__image" src="img/portfolio/pillow4.jpg" alt="">
                <button class="button button--buy">Купить</button>
            </div>
            <div class="good">
                <span class="good__price">249<span class="currency">грн</span></span>
                <img class="good__image" src="img/portfolio/pillow4.jpg" alt="">
                <button class="button button--buy">Купить</button>
            </div>
            <div class="good">
                <span class="good__price">249<span class="currency">грн</span></span>
                <img class="good__image" src="img/portfolio/pillow4.jpg" alt="">
                <button class="button button--buy">Купить</button>
            </div>
            <div class="good">
                <span class="good__price">249<span class="currency">грн</span></span>
                <img class="good__image" src="img/portfolio/pillow4.jpg" alt="">
                <button class="button button--buy">Купить</button>
            </div>
            <div class="good">
                <span class="good__price">249<span class="currency">грн</span></span>
                <img class="good__image" src="img/portfolio/pillow4.jpg" alt="">
                <button class="button button--buy">Купить</button>
            </div>
            <button class="button button--more">
                Больше подушек
            </button>
        </div>
    </div>
</section>