<section class="section section--service">
    <div class="container">
        <h2 class="section-title">
            Сервис
        </h2>
        <h3 class="section-sub-title">
            Наши преимущества
        </h3>
        <div class="service">
            <div class="service__item">
                <div class="icon"></div>
                <div class="icon__title">
                    Мы всегда на связи
                </div>
                <div class="icon__description">
                    Вы можете написать в любой момент и в течении 5 минут Вам придет ответ на Ваш вопрос.
                </div>
            </div>
            <div class="service__item">
                <div class="icon"></div>
                <div class="icon__title">
                    Быстрая доставка
                </div>
                <div class="icon__description">
                    рсмтсм
                </div>
            </div>
            <div class="service__item">
                <div class="icon"></div>
                <div class="icon__title">
                    смтсмтсмт
                </div>
                <div class="icon__description">adsdasd</div>
            </div>
        </div>
    </div>
</section>