<section class="section section--top">
    <div class="slider slider--top js-slider-top">
        <img src="img/top/1.jpg" alt="image" class="slider__item">
        <img src="img/top/2.jpg" alt="image" class="slider__item">
        <img src="img/top/3.jpg" alt="image" class="slider__item">
    </div>
    <div class="container">
        <header class="header js-header">
            <div class="logo">
                Soft<span class="logo__selected">Pillow</span>
            </div>
            <nav class="nav">
                <a href="#" class="nav__item">О нас</a>
                <a href="#" class="nav__item">Преимущества</a>
                <a href="#" class="nav__item">Каталог</a>
                <a href="#" class="nav__item">Купить</a>
                <a href="#" class="nav__item">Обратная связь</a>
            </nav>
        </header>
        <div class="title">
            <div class="title__subtitle">С вашим дизайном</div>
            <h1 class="title__title">Самые креативные<br>подушки!</h1>
        </div>
        <button class="button button--catalog">Каталог</button>
    </div>
</section>