<section class="section section--portfolio">
    <div class="container">
        <h2 class="section-title">
            Портфолио
        </h2>
        <div class="section-sub-title">
            наши работы
        </div>
        <div class="portfolio row">
            <div class="portfolio__item col-md-8">
                <img src="img/portfolio/long-pillow.jpg" class="portfolio__img" alt="">
            </div>
            <div class="portfolio__item col-md-4">
                <img class="portfolio__img" src="img/portfolio/pillow.jpg" alt="">
            </div>
            <div class="portfolio__item col-md-4">
                <img class="portfolio__img" src="img/portfolio/pillow2.jpg" alt="">
            </div>
            <div class="portfolio__item col-md-4">
                <img class="portfolio__img" src="img/portfolio/pillow3.jpg" alt="">
            </div>
            <div class="portfolio__item col-md-4">
                <img class="portfolio__img" src="img/portfolio/pillow4.jpg" alt="">
            </div>
        </div>
    </div>
</section>