.section{
    
    &--service{
        
        .service{
            display: flex;
            justify-content: space-between;
            padding: 100px 0;
            
            &__item{
                max-width: 300px;
                width: 100%;
                text-align: center;
                color: $text-primary;
                
                .icon{
                    width: 100px;
                    height: 100px;
                    background-color: lightcoral;
                    border-radius: 50px;
                    margin:20px auto;
                    
                    &__title{
                        margin-bottom: 20px;
                        text-align: center;
                        font-weight: 500;
                        font-size: 20px;
                    }
                    
                    &__description{
                        color: $text-secondary;
                    }
                }
            }
        }
    }
}